{% extends "base.html" %}

{% block title %}
	Blog Lite - Edit Post {{ post_id }}
{% endblock %}

{% block blog %}
	<form class="py-5"  method="POST" action='/update-blog/{{ blog.blog_id }}' enctype="multipart/form-data">
	    <div style="padding-top: 20px;padding-bottom: 20px;">
	        <div class="container text-center pt-4 py-xl-4" style="background-image: linear-gradient(180deg, rgba(55, 99, 244, 0.27), rgba(55, 99, 244, 0.27), rgba(250, 250, 250, 0.6)); border-radius: 25px;padding-left: 24px;padding-right: 24px;width: 60%;padding-bottom: 7px;margin-bottom: -6px;margin-top: 0px;padding-top: 24px;">
	            <div class="files color form-group mb-3">
					<input name='image' id='image' type="file">
				</div>
	            <div>
					<input name='title' type="text" style="margin-top: 10px;margin-bottom: 10px; text-align: center; width: 60%;" placeholder="Updated Title">
				</div>
	            <div style="margin-top: 0px; margin-bottom: 0px; padding-top: 10px; padding-bottom: 10px;">
					<textarea name='caption' style="color: black; width: 100%; margin-top: 2px; margin-bottom: 2px; text-align: center;" placeholder="Updated Caption"></textarea>
				</div>
	            <div>
					<button class="btn btn-primary" type="submit" style="margin-top: 0px;margin-bottom: 0px;">
						Post
					</button>
				</div>
	        </div>
	    </div>
	</form>

<!-- 	<form class="py-5"  method="POST">
		    <div style="padding-top: 20px;padding-bottom: 20px;">
		        <div class="container text-center pt-4 py-xl-4" style="background-image: linear-gradient(180deg, rgba(55, 99, 244, 0.27), rgba(55, 99, 244, 0.27), rgba(250, 250, 250, 0.6)); border-radius: 25px;padding-left: 24px;padding-right: 24px;width: 60%;padding-bottom: 7px;margin-bottom: -6px;margin-top: 0px;padding-top: 24px;">
		            <div class="files color form-group mb-3">
						<input type="file">
					</div>
		            <div>
						<input type="text" style="margin-top: 10px;margin-bottom: 10px; text-align: center; width: 60%;" placeholder="Title">
					</div>
		            <div style="margin-top: 0px; margin-bottom: 0px; padding-top: 10px; padding-bottom: 10px;">
						<textarea style="color: black; width: 100%; margin-top: 2px; margin-bottom: 2px; text-align: center;" placeholder="Caption"></textarea>
					</div>
		            <div>
						<button class="btn btn-primary" type="submit" style="margin-top: 0px; margin-bottom: 0px;">
							Update Post
						</button>
					</div>
		        </div>
		    </div>
		</form> -->
{% endblock %}