{% extends 'test.html' %}

{% block post %}
	<div align='center'>
		<section class="py-5">
			<div style="padding-top: 20px; padding-bottom: 20px;">
				<div class='col' style="background-image: linear-gradient(180deg, rgba(55, 99, 244, 0.27), rgba(55, 99, 244, 0.27), rgba(250, 250, 250, 0.6)); border-radius: 25px;padding-left: 24px;padding-right: 24px;padding-top: 24px;width: 60%;padding-bottom: 24px;">
					<img
						src='/analytics-photo/{{ blog_id }}'
						>
				</div>
			</div>
		</section>
	</div>
{% endblock %}